<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="header_pink.css">
</head>
<body>
    <header>
        <div class="header-pattern"></div>
        <nav class="header-nav-items">
            <a href="#" class="header-nav-link">Products</a>
            <a href="#" class="header-nav-link">About</a>
            <a href="#" class="header-logo" aria-label="Home">
                <img src="../../assets/Logos/png/sunny_logos-01.png" alt="Sunny Socks Logo">
            </a>
            <a href="#" class="header-nav-link">Sustainable</a>
            <a href="#" class="header-nav-link">Contact</a>
            <a href="#" class="header-nav-link"><marquee behavior="scroll" direction="left">🌱 Join Our Going Green Campaign - Sustainable Socks for a Better Future! 🌱</marquee></a>
        </nav>
        <div class="header-additional-element"></div>
    </header>
</body>
</html>