header { background: #1E407A; }

/* Product Page Selected */
.header-nav-items a:nth-child(4) {
    color: #51B2A2;
    position: relative;
    
    background: #FFFFFF;
    border-radius: clamp(8px, 2vw, 16px) clamp(8px, 2vw, 16px) 0 0; /* Only round top corners */

    /*
    Top | Right | Bottom | Left 
    padding (bottom extended to touch header bottom)
    */
    padding: clamp(8px, 1.5vw, 16px) clamp(12px, 3vw, 24px) clamp(2rem, 2.75vh, 4rem) clamp(12px, 3vw, 24px);
    
    margin-bottom: -2.1rem; /* White touches header bottom */
}

/* Custom underline */
.header-nav-items a:nth-child(4)::after {
    content: '';

    position: absolute;
    top: clamp(30px, 6.5vw, 55px); /* Position below text */

    left: 50%;
    transform: translateX(-50%); /* Center */
    
    width: clamp(140px, 18vw, 200px);
    height: clamp(4px, 1vh, 6px);
    
    background: #51B2A2;
    border-radius: 4px;
    
    z-index: 4;
}

.header-nav-items a:nth-child(1) { color: #ffffff; }
.header-nav-items a:nth-child(2) { color: #ffffff; }
.header-nav-items a:nth-child(5) { color: #ffffff; }
.header-nav-items a:nth-child(6) { color: #ffffff; }

/* Hide the campaign running text on wide screens */
.header-nav-items a:nth-child(6) { display: none; }

/* Campaign navigation image */
.header-additional-element {
    position: absolute;
    width: 285px;
    height: 225px;
    right: -55px;
    top: clamp(116.5px, 15vh, 130px);

    background-image: url("../../assets/header/campaign_button.png"); 
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    
    overflow: hidden;
    z-index: 9999;
    transition: background-image 0.3s ease-in-out;

    cursor: pointer;
}

.header-additional-element:hover { background-image: url("../../assets/header/campaign_button_hover.png"); }


/* ----- Mobile Phone Responsiveness ----- */

@media (max-width: 992px) {
    .header-nav-items a:nth-child(4)::after {
        width: clamp(80px, 19vw, 160px);
        height: clamp(2px, 0.8vh, 4px);
        border-radius: 2px;
    }
    
    /* Round Element */
    .header-nav-items a:nth-child(4) {
        background: #FFFFFF;
        padding: clamp(12px, 3vw, 16px);
        margin: clamp(8px, 2vw, 12px);
        border-radius: clamp(8px, 2vw, 12px);
        
        margin-top: clamp(8px, 2vw, 12px);
        margin-bottom: clamp(8px, 2vw, 12px);
    }

    /* Hide the campaign image on small screens */
    .header-additional-element { display: none; }

    /* 2 column grid on mobile */
    .header-nav-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(4px, 2vw, 12px);
    }

    .header-nav-items a:nth-child(6) {
        display: block;
        grid-column: 1 / -1;
        width: 100%;
        color: #ffffff;
        text-decoration: none;
    }
}