header { background: #1E407A; }

/* Product Page Selected */
.header-nav-items a:nth-child(5) {
    color: #E990B9;
    position: relative;
    
    background: #FFFFFF;
    border-radius: clamp(6px, 1.5vw, 12px) clamp(6px, 1.5vw, 12px) 0 0; /* Only round top corners */

    /*
    Top | Right | Bottom | Left 
    padding (bottom extended to touch header bottom)
    */
    padding: clamp(6px, 1.2vw, 12px) clamp(8px, 2vw, 16px) clamp(2rem, 3vh, 4rem) clamp(8px, 2vw, 16px);
    
    margin-bottom: clamp(-2rem, -3vh, -4rem); /* White touches header bottom */
    text-decoration: underline;
    text-underline-offset: 20%;
}

.header-nav-items a:nth-child(1) { color: #ffffff; }
.header-nav-items a:nth-child(2) { color: #ffffff; }
.header-nav-items a:nth-child(4) { color: #ffffff; }
.header-nav-items a:nth-child(6) { color: #ffffff; }

/* Hide the campaign running text on wide screens */
.header-nav-items a:nth-child(6) { display: none; }

/* Campaign navigation image */
.header-additional-element {
    position: fixed;
    width: 285px;
    height: 225px;
    right: -55px;
    top: clamp(80px, 16vh, 130px);

    background-image: url("../../assets/header/campaign_button.png"); 
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    
    overflow: visible;
    z-index: 9999;
    transition: background-image 0.3s ease-in-out;

    cursor: pointer;
}

.header-additional-element:hover { background-image: url("../../assets/header/campaign_button_hover.png"); }


/* ----- Mobile Phone Responsiveness ----- */

@media (max-width: 992px) {
    .header-nav-items a:nth-child(5)::after {
        width: clamp(55px, 13vw, 110px);
        height: clamp(3px, 0.8vh, 4px);
        top: clamp(30px, 7vw, 50px);
        border-radius: 2px;
    }
    
    /* Round Element */
    .header-nav-items a:nth-child(5) {
        background: #FFFFFF;
        padding: clamp(12px, 3vw, 16px);
        margin: clamp(8px, 2vw, 12px);
        border-radius: clamp(8px, 2vw, 12px);
        
        margin-top: clamp(8px, 2vw, 12px);
        margin-bottom: clamp(8px, 2vw, 12px);
    }

    /* Hide the campaign image on small screens */
    .header-additional-element { display: none; }

    /* 2 column grid on mobile */
    .header-nav-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: clamp(4px, 2vw, 12px);
    }

    .header-nav-items a:nth-child(6) {
        display: block;
        grid-column: 1 / -1;
        width: 100%;
        color: #ffffff;
        text-decoration: none;
    }
}