<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="header.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="product">
                <a href="#">Products</a>
            </div>
            
            <div class="sustainable">
                <a href="#">Sustainable</a>
            </div>
            
            <div class="logo">
                <a href="#">
                    <img src="../../assets/Logos/png/sunny_logos-01.png" alt="Sunny Socks Logo">
                </a>
            </div>
            
            <div class="contacts">
                <a href="#">Contacts</a>
            </div>
            
            <div class="about">
                <a href="#">About</a>
            </div>
        </nav>
        <div class="pattern"></div>
    </header>
    </body>
</html>