@font-face {
    font-family:"Nexa" ;
    src: url("../../assets/Fonts/Nexa/Light.otf");
}
* {
  margin: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Nexa";
    text-align: center;

    /* Made page use a column flex layout, now footer can be at the bottom - JL */
    display: flex;
    flex-direction: column;

    /* CSS variable to offset content below header - JL*/
    --header-offset: clamp(110px, 9vh, 120px);

    overflow-x: hidden;
}

/* Header appears at the very top at all times - JL */
header { z-index: 10000; }

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Prevents footer from overlapping with content. - JL */
main::after {
    content: "";
    display: block;

    height: calc(130vw + var(--header-offset));
}

.content{
    margin-top:10rem;
}
#head{
    position:absolute;
    top:8.5vw;
    background-color: rgb(30,64,122,100%);
    border-radius: 10vw;
    width:80vw;
    height:5vw;
    transform: rotate(-45deg);
}
#greysquare{
    top:15vw;
    background-color: rgb(217,217,217,100%);
    position:absolute;
    height:22vw;
    width:22vw;
    border-radius: 3vw;
    transform: rotate(45deg);
}
#greencircle{
    background-color: rgb(81,178,162,100%);
    position:absolute;
    height:22vw;
    width:22vw;
    border-radius: 15vw;
    
}
#earth{
    position:absolute;
    height:21vw;
    width:21vw;
    top:-8.5vw;
}
#leftleaf{
    position: absolute;
    height:5vw;
    width:40vw;
    left:0vw; 
}
#rightleaf{
    position: absolute;
    height:5vw;
    width:40vw;
    right:0vw; 
}
#mainpart{
    background-color: rgb(217,217,217,100%);
    position:absolute;
    height:80vw;
    width:80vw;
    border-radius: 40vw;
    top:38vw;
}
#mainpart h1{
    position:absolute;
    width:40vw;
    font-size:3.5vw;
    top:-5vw;
    color:rgb(81,178,162,100%);
    text-shadow: -0.05vw -0.05vw 0 white, 0.05vw -0.05vw 0 white, -0.05vw 0.05vw 0 white, 0.05vw 0.05vw 0 white;
}
#leftsock{
    position:absolute;
    width:4vw;
    height:4vw;
    top:-1vw;
    left:26vw;
}
#rightsock{
    position:absolute;
    width:4vw;
    height:4vw;
    top:-1vw;
    right:26vw;
    transform: scaleX(-1);
}
#topconector{
    background-color: rgb(30,64,122,100%);
    position:absolute;
    height:10vw;
    width:1vw;
    top:-2.2vw;
}
#connectors{
    position:absolute;
    height:70vw;
    width:50vw;
    top:5vw;
}
#sustainability{
    position:absolute;
    height:30vw;
    width:20vw;
    top:7vw;
    left:5vw;
}
#sustainability1{
    position:absolute;
    height:30vw;
    width:20vw;
    top:7vw;
    left:5vw;
    opacity: 0;
}
#sustainability1:hover{
    opacity:100;
}
#environment{
    display: block;
    position:absolute;
    height:30vw;
    width:20vw;
    top:7vw;
}
#environment1{
    position:absolute;
    height:30vw;
    width:20vw;
    top:7vw;
    opacity:0;
}
#environment1:hover{
    opacity:100;
}
#wages{
    position:absolute;
    height:30vw;
    width:20vw;
    top:7vw;
    right:5vw;
}
#wages1{
    position:absolute;
    height:30vw;
    width:20vw;
    top:7vw;
    right:5vw;
    opacity: 0;
}
#wages1:hover{
    opacity:100;
}
#profit{
    position:absolute;
    height:30vw;
    width:20vw;
    top:40vw;
    left:17.5vw;
}
#profit1{
    position:absolute;
    height:30vw;
    width:20vw;
    top:40vw;
    left:17.5vw;
    opacity: 0;
}
#profit1:hover{
    opacity:100;
}
#jobs{
    position:absolute;
    height:30vw;
    width:20vw;
    top:40vw;
    right:17.5vw;
}
#jobs1{
    position:absolute;
    height:30vw;
    width:20vw;
    top:40vw;
    right:17.5vw;
    opacity:0;
}
#jobs1:hover{
    opacity:100;
}
#endgoal{
    position:absolute;
    height:auto;
    width:80vw;
    top:75vw;
    right:0vw;
}
#endimg{
    position:absolute;
    height:auto;
    width:80vw;
    top:78vw;
    right:0vw;
}
#endheader{
    position:absolute;
    top:76.25vw;
    left:16vw;
    text-align:center;
    font-size: 2.5vw;
    color:white;
    height:auto;
    width:60%;
}
#endtext{
    position:absolute;
    top:99vw;
    left:16vw;
    text-align:center;
    font-size: 2vw;
    color:white;
    height:auto;
    width:auto;
}
u{
    color:rgb(81,178,162,100%);
}


