/*--------------------------------------------------------
            1. Base / Variables Storage (resets)
--------------------------------------------------------*/

/* Imports */
@font-face {
    font-family: "Nexa";
    src: url("../../assets/Fonts/Nexa/Light.otf");
}

/* Base */
* {
    box-sizing: border-box;
}

/* Resets */
:root {
    /* Color variables */
    --blue: #1E407A;
    --green: #51B2A2;
    --pink: #E990B9;
    --red: #F15B39;
    --yellow: #FECD3E;
    --packaging-background-color: #F2F2F2;

    /* Sizing */
    --swatch-size: 70px;
    --swatch-border: 7px solid white;
    --radius: 1.375rem;

    /* Spacings */
    --main-spacing: 3.75rem;
    --gap-spacing: 1.875rem;

    /* Special sizings for rotation porposes */
    --angle: 5deg;
    --negative-angle: -5deg;
    --extra: calc((1 - cos(var(--angle))) * 50vw);
}

/*--------------------------------------------------------
      2. General Properties (body) / Page Title
--------------------------------------------------------*/

body {
    margin: 0;
    font-family: "Nexa";
    text-align: center;
}

h1 {
    color: var(--red);
    margin-block: var(--main-spacing);
}

/*--------------------------------------------------------
                 3. Layout Containers
--------------------------------------------------------*/

.content {
    width: 100vw;
    overflow: hidden;
    position: relative;
    /* This padding measurement is in view width so it
    doesn't change with the height but with the width of
    the screen */
    padding-block: 5vw;
}

/* Unicolor and Stripes Section */
.Unicolor, .Stripes {
    /* Display and centering content */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--gap-spacing);
    padding-block: var(--gap-spacing);
    padding-inline: var(--main-spacing);
    /* Other Details */
    background-color: var(--red);
    /* Properties related to eliminating white spaces on the sides*/
    position: relative;
    left: -5vw;
    width: 110vw;
}

.Unicolor {
    transform: rotate(var(--angle));
    /* This margin is specific because of testings I did
    which gave the perfect result in this sizing */
    margin-bottom: 8.8vw;
}

.Stripes {
    transform: rotate(var(--negative-angle));
}

.Uni_imgs, .Stripes_Imgs {
    display: flex;
    gap: var(--gap-spacing);
}

.Uni_imgs {
    /* Changing the order on the flexbox so the text show at the left */
    order: 1;
}

.Uni_text, .Stripes_Text {
    display: flex;
    flex-direction: column;
    gap: var(--gap-spacing);
    color: white;
    /* Max-width measurement extracted from Figma design
    to limitate expansion of the boxes */
    max-width: 564px;
}

.Uni_text {
    /* Changing the order on the flexbox so the text show at the right */
    order: 2;
}

/*--------------------------------------------------------
                      4. Images
--------------------------------------------------------*/

/* General images properties changes */
img {
    max-height: 282px;
    border-radius: var(--radius);
}

/* Unicolor Section*/
/* Making both blue versions of the image the default ones */
.uni_display {
    display: none;
}

.uni_socks_blue {
    display: block;
}

.uni_packaging {
    display: none;
    background-color: var(--packaging-background-color);
}

.uni_blue {
    display: block;
}

/* Stripes Section*/
/* Making both blue versions of the image the default ones */
.stripes_display {
    display: none;
}

.stripes_socks_blue {
    display: block;
}

.stripes_packaging {
    display: none;
    background-color: var(--packaging-background-color);
}

.stripes_blue {
    display: block;
}

/*--------------------------------------------------------
                 5. Buttons (Swatches)
--------------------------------------------------------*/

.color_buttons {
    display: flex;
    justify-content: space-between;
}

/* Hiding the radio swatches */
.color_buttons input[type="radio"] {
    display: none;
}

/* Styling of the buttons which in this case are the labels */
.color_buttons label {
    width: var(--swatch-size);
    height: var(--swatch-size);
    border-radius: 50%;
    border: var(--swatch-border);
    cursor: pointer;
}
 /* Swatch colors setup */
.blue {
    background-color: var(--blue);
}

.green {
    background-color: var(--green);
}

.pink {
    background-color: var(--pink);
}

.red {
    background-color: var(--red);
}

.yellow {
    background-color: var(--yellow);
}

/*--------------------------------------------------------
                 6. interactivity
--------------------------------------------------------*/

/* Hiding images and bringing them when selected */

/* Unicolor Green Selection */
.Unicolor:has(#green:checked) .uni_display, 
.Unicolor:has(#green:checked) .uni_packaging {
    display: none;
}

.Unicolor:has(#green:checked) .uni_socks_green,
.Unicolor:has(#green:checked) .uni_green {
    display: block;
}

/* Unicolor Pink Selection */
.Unicolor:has(#pink:checked) .uni_display, 
.Unicolor:has(#pink:checked) .uni_packaging {
    display: none;
}

.Unicolor:has(#pink:checked) .uni_socks_pink,
.Unicolor:has(#pink:checked) .uni_pink {
    display: block;
}

/* Unicolor Red Selection */
.Unicolor:has(#red:checked) .uni_display, 
.Unicolor:has(#red:checked) .uni_packaging {
    display: none;
}

.Unicolor:has(#red:checked) .uni_socks_red, 
.Unicolor:has(#red:checked) .uni_red {
    display: block;
}

/* Unicolor Yellow Selection */
.Unicolor:has(#yellow:checked) .uni_display,
.Unicolor:has(#yellow:checked) .uni_packaging {
    display: none;
}

.Unicolor:has(#yellow:checked) .uni_socks_yellow, 
.Unicolor:has(#yellow:checked) .uni_yellow {
    display: block;
}

/* ------------------------------------------------ */

/* Stripes Green Selection */
.Stripes:has(#st_green:checked) .stripes_display, 
.Stripes:has(#st_green:checked) .stripes_packaging {
    display: none;
}

.Stripes:has(#st_green:checked) .stripes_socks_green, 
.Stripes:has(#st_green:checked) .stripes_green {
    display: block;
}

/* Stripes Pink Selection */
.Stripes:has(#st_pink:checked) .stripes_display, 
.Stripes:has(#st_pink:checked) .stripes_packaging {
    display: none;
}

.Stripes:has(#st_pink:checked) .stripes_socks_pink, 
.Stripes:has(#st_pink:checked) .stripes_pink {
    display: block;
}

/* Stripes Red Selection */
.Stripes:has(#st_red:checked) .stripes_display, 
.Stripes:has(#st_red:checked) .stripes_packaging {
    display: none;
}

.Stripes:has(#st_red:checked) .stripes_socks_red, 
.Stripes:has(#st_red:checked) .stripes_red {
    display: block;
}

/* Stripes Yellow Selection */
.Stripes:has(#st_yellow:checked) .stripes_display, 
.Stripes:has(#st_yellow:checked) .stripes_packaging {
    display: none;
}

.Stripes:has(#st_yellow:checked) .stripes_socks_yellow, 
.Stripes:has(#st_yellow:checked) .stripes_yellow {
    display: block;
}