<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css">
    <link rel="stylesheet" href="footer_blue.css">
</head>
<body>
    <footer>
        <div class="footer-pattern"></div>
        <div class="footer-content">
            <div class="footer-left">
                <a href="#" class="footer-link">
                    <img class="footer-logo" src="../../assets/Logos/svg/sunny_logos_white.svg" alt="Sunny Socks logo">
                </a>
                <nav class="footer-page-linkers" aria-label="Footer">
                    <a href="#" class="footer-link">Products Overview</a>
                    <a href="#" class="footer-link">Sustainability</a>
                    <a href="#" class="footer-link">Contacts</a>
                    <a href="#" class="footer-link">About Us</a>
                    <a href="#" class="footer-link">Campaign</a>
                </nav>
            </div>

            <div class="footer-divider" aria-hidden="true"></div>

            <div class="footer-right">
                <h2 class="footer-contact-info">Contact</h2>
                <ul class="footer-contact-list">
                    <li class="footer-contact-item">
                        <a class="footer-contact-link" href="#">+31 (0)123 456 789</a>
                        <div class="footer-contact-icon footer-icon-phone" aria-hidden="true"></div>
                    </li>
                    <li class="footer-contact-item">
                        <a class="footer-contact-link" href="#">+31 (0)123 456 789</a>
                        <div class="footer-contact-icon footer-icon-whatsapp" aria-hidden="true"></div>
                    </li>
                    <li class="footer-contact-item">
                        <a class="footer-contact-link" href="#">info@sunny.nl</a>
                        <div class="footer-contact-icon footer-icon-email" aria-hidden="true"></div>
                    </li>
                    <li class="footer-contact-item footer-contact-item-address">
                        <div class="footer-contact-address">Van Schaikweg 94,<br> 7811 KL Emmen</div>
                        <div class="footer-contact-icon footer-icon-location" aria-hidden="true"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-copyright" role="contentinfo">Copyright &#169; 2025 Website_Project1</div>
    </footer>
</body>
</html>