<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <footer>
        <nav class="footer">
            <div class="logo-footer">
                <a href="#">
                    <img src="../../assets/Logos/png/sunny_logos_white.png" alt="Sunny Socks Logo Footer">
                </a>
            </div>

            <div class="phone-icon-footer">
                <a href="#">
                    <img src="../../assets/footer/phone_light.png" alt="Phone Icon">
                </a>
            </div>
            <div class="whatsapp-icon-footer">
                <a href="#">
                    <img src="../../assets/footer/whatsapp_light.png" alt="WhatsApp Icon">
                </a>
            </div>
            <div class="email-icon-footer">
                <a href="#">
                    <img src="../../assets/footer/email_light.png" alt="Email Icon">
                </a>
            </div>
            <div class="location-icon-footer">
                <a href="#">
                    <img src="../../assets/footer/location_light.png" alt="Location Icon">
                </a>
            </div>

            <div class="copyright-icon-footer">
                <img src="../../assets/footer/copyright_icon.png" alt="Copyright Icon">
            </div>

            <div class="phone-text-footer">
                <a href="#">+31 (0) 12345678</a>
            </div>
            <div class="whatsapp-text-footer">
                <a href="#">+31 (0) 612345678</a>
            </div>
            <div class="email-text-footer">
                <a href="#">info@sunny.nl</a>
            </div>
            <div class="location-text-footer">
                <a href="#">Van Schaikweg 94, 7811 KL Emmen</a>
            </div>

            <div class="divider-footer" aria-hidden="true"></div>
            <div class="copyright-footer">
                <p>Copyright &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2025 Website_Project1</p>
            </div>

            <div class="products-overview-footer">
                <a href="#">Products Overview</a>
            </div>

            <div class="sustainability-footer">
                <a href="#">Sustainability</a>
            </div>

            <div class="contacts-footer">
                <a href="#">Contacts</a>
            </div>

            <div class="about-us-footer">
                <a href="#">About Us</a>
            </div>

            <div class="campaign-footer">
                <a href="#">Campaign</a>
            </div>

            <div class="contact-h1-footer">
                <h1>Contact</h1>
            </div>
            
        </nav>
        <div class="pattern-footer"></div>
    </footer>
</body>
</html>