@font-face
{
    font-family: "NexaBold";
    src: url("../../assets/Fonts/Nexa Bold.otf");
}

@font-face
{
    font-family: "NexaLight";
    src: url("../../assets/Fonts/Nexa Light.otf");
}

.footer {
    position: relative;
    width: 1440px;
    height: 590px;
    left: calc(50% - 1440px/2);
    background: #1E407A;
    z-index: 1;
}

.pattern-footer {
    position: absolute;
    width: 1440px;
    height: 590px;
    top: 0;
    left: 0;
    z-index: 3;

    background-image: url("../../assets/footer/footer_pattern.png");
    background-repeat: no-repeat;
    background-size: 1440px 590px;
    pointer-events: none; 
}

.phone-icon-footer,
.whatsapp-icon-footer,
.email-icon-footer,
.location-icon-footer {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 1216.44px;
}

.phone-icon-footer{bottom: 302.5px;}
.whatsapp-icon-footer{bottom: 248.5px;}
.email-icon-footer{bottom: 194.5px;}
.location-icon-footer{bottom: 128.5px;}

.copyright-icon-footer {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 1223px;
    bottom: 7px;
}

.logo-footer{
    position: absolute;
    width: 327.46px;
    height: 113px;
    left: 194.48px;
    bottom: 360.5px;
}

.logo-footer img,
.phone-icon-footer img,
.whatsapp-icon-footer img,
.email-icon-footer img,
.location-icon-footer img,
.copyright-icon-footer img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    
    mix-blend-mode: plus-lighter;
}

.divider-footer{
    position: absolute;
    width: 8px;
    height: 379px;
    left: 716.42px;
    bottom: 105.5px;

    background: #FFFFFF;
}

.copyright-footer {
    position: absolute;
    width: 320px;
    height: 31px;
    bottom: 0px;
    display: flex;
    align-items: center;
    text-align: center;
}

.copyright-footer { left: 1120px; }

.copyright-footer p {
    font-family: 'NexaLight';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    position: relative;
    pointer-events: auto; 
    cursor: pointer;
}

.products-overview-footer,
.sustainability-footer,
.contacts-footer,
.about-us-footer,
.campaign-footer {
    position: absolute;
    height: 24px;
    left: 194.48px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.products-overview-footer {width: 215px; bottom: 308.5px;}
.sustainability-footer {width: 155px; bottom: 260.5px;}
.contacts-footer {width: 101px; bottom: 212.5px;}
.about-us-footer {width: 104px; bottom: 164.5px;}
.campaign-footer {width: 113px; bottom: 116.5px;}

.products-overview-footer a,
.sustainability-footer a,
.contacts-footer a,
.about-us-footer a,
.campaign-footer a {
    font-family: 'NexaBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 200%;
    letter-spacing: -0.011em;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.phone-text-footer,
.whatsapp-text-footer,
.email-text-footer,
.location-text-footer {
    position: absolute;
    width: 213px;
    height: 30px;
    left: 988.44px;
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.phone-text-footer {bottom: 302.5px;}
.whatsapp-text-footer {bottom: 248.5px;}
.email-text-footer {bottom: 194.5px; width: 155px; left: 1046.44px;}
.location-text-footer {bottom: 140.5px; width: 212px; text-align: right;}

.phone-text-footer a,
.whatsapp-text-footer a,
.email-text-footer a,
.location-text-footer a {
    font-family: 'NexaBold';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.011em;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.products-overview-footer {width: 215px; bottom: 308.5px;}
.sustainability-footer {width: 155px; bottom: 260.5px;}
.contacts-footer {width: 101px; bottom: 212.5px;}
.about-us-footer {width: 104px; bottom: 164.5px;}
.campaign-footer {width: 113px; bottom: 116.5px;}

.contact-h1-footer {
    position: absolute;
    width: 327.46px;
    height: 113px;
    left: 918.98px;
    bottom: 360.5px;

    display: flex;
    align-items: center;
    text-align: center;
}

.contact-h1-footer h1 {
    font-family: 'NexaBold';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #FFFFFF;
    text-decoration: none;
    width: 100%;
    position: relative;
}