@font-face {
    font-family:"Nexa" ;
    src: url("/Sunny-Socks/assets/Fonts/Nexa/Light.otf");
}
* {
  margin: 0;
  box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Nexa";
    text-align: center;

    /* Made page use a column flex layout, now footer can be at the bottom - JL */
    display: flex;
    flex-direction: column;

    /* CSS variable to offset content below header - JL*/
    --header-offset: clamp(140px, 11vh, 150px);
}

/* Header appears at the very top at all times - JL */
header { z-index: 10000; }

/* 
Was <div> now <.content div>
Would break page layout (especially the footer) - JL
*/
.content div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Prevents footer from overlapping with content. - JL */
main::after {
    content: "";
    display: block;

    height: calc(170vw + var(--header-offset));
}

#bg{
    position:absolute;

    /*
    Added header offset - JL
    (was top:25vw)
    */
    top: calc(25vw + var(--header-offset));

    /*
    Centered Top Part horizontally - JL
    (added left:50% + translateX)
    */
    left: 50%;
    transform: translateX(-50%); 
    background-color: rgb(217,217,217,100%);
    border-radius: 10vw;
    width:80vw;
    height:10vw;
}
#bluesquare{
    background-color: rgb(81,178,162,100%);
    position:absolute;
    height:22vw;
    width:22vw;
    border-radius: 3vw;
    transform: rotate(45deg);
}
#plant{
    position:absolute;
    right:75%;
    top:-45%;
    width:75%;
    height:auto;
    transform: rotate(-45deg);
    
}
#leftleaves{
    width: 17vw;
    height:auto;
    position:absolute;
    top:-25%;
    left:-5vw;
}
#rightleaves{
    position:absolute;
    top:-25%;
    right:-5vw;
    width: 17vw;
    height:auto;
}
#center{
    position:absolute;
    top:0vh;
    width: 23vw;
    height:auto;
    transform: rotate(-45deg);
}
#topglue{
    overflow: hidden;
    position:absolute;
    height:auto;
    width:23.2vw;
    top:-3.3vw;
}
#bluebg{
    position:absolute;

    /*
    Added header offset - JL
    (was top:45vw)
    */
    top: calc(45vw + var(--header-offset));

    /*
    Centered 'Going Green' horizontally - JL
    (added left:50% + translateX)
    */
    left: 50%;
    transform: translateX(-50%);
    background-color:rgb(81,178,162,100%);
    border-radius: 5vw;
    width:85vw;
    height:40vw;
}
#bluebg > h1{
    position:absolute;
    font-size: 5vw;
    top:10%;
    color:white;
    -webkit-text-stroke: 0.2vw black;
}
p {
    text-align: center;
    position:absolute;
    top:30%;
    left:5vw;
    font-size: 2.5vw;
    color:white;
    width:60%;
}
#planet{
    position:absolute;
    overflow: hidden;
    top:25%;
    left:70.5%;
    width:30%;
    height:auto;
}
#plantbottom{
    position:absolute;
    top:-13%;
    width:18%;
    height:auto;
    transform: rotate(180deg);
}
#bottomglue{
    position:absolute;
    top:100%;
    height:auto;
    width:26vw;
}
.promise{
    /*
    Added header offset - JL
    (was top:88vw)
    */
    top: calc(88vw + var(--header-offset));
}
#greybg1{
    position:absolute;

    /*
    Added header offset - JL
    (was top:88vw)
    */
    top: calc(88vw + var(--header-offset));
    background-color:rgb(217,217,217,100%);
    border-radius: 3vw;
    width:85vw;
    height:27.5vw;
}
#greybg2{
    position:absolute;

    /*
    Added header offset - JL
    (was top:117.5vw)
    */
    top: calc(117.5vw + var(--header-offset));
    background-color:rgb(217,217,217,100%);
    border-radius: 3vw;
    width:85vw;
    height:27.5vw;
}
#greybg2>p{
    font-size:2.5vw;
    text-align: center;
    color:white;
    position: relative;
    width:80%;
    top:20%;
    left:0%
}
#header1{
    position:absolute;
    font-size: 4vw;
    top:10%;
    left:20%;
    color:rgb(81,178,162,100%);
    -webkit-text-stroke: 0.1vw white;
}
#header2{
    position:absolute;
    font-size: 4vw;
    top:10%;
    right:15%;
    color:rgb(81,178,162,100%);
    -webkit-text-stroke: 0.1vw white;
}
.promises{
    display: flex;
    flex-direction: row;
    position:absolute;

    /*
    Added header offset - JL
    (was top:100vw)
    */
    top: calc(100vw + var(--header-offset));
    gap:2vw;
}
.promises div{
    display: flex;
    flex-direction: column;
    position:relative;
    background-color:rgb(81,178,162,100%);
    border: solid 0.5vw white;
    border-radius: 2vw;
    width:18vw;
    height:27vw;
}
.promises img{
    
    top:20%;
    width:60%;
    height:auto;
}
.promises h3{
    margin-top:2vw;
    font-size:2vw;
    text-align: center;
    color:white;
}
#promisetext{
    font-size:2vh;
    text-align: center;
    color:white;
}
#leftbottomleaves{
    position:absolute;

    /*
    Added header offset - JL
    (was top:137vw)
    */
    top: calc(137vw + var(--header-offset));
    left:10vw;
    width:20vw;
    height:auto;
}
#rightbottomleaves{
    position:absolute;

    /*
    Added header offset - JL
    (was top:137vw)
    */
    top: calc(137vw + var(--header-offset));
    right:10vw;
    width:20vw;
    height:auto;
}
#slogan{
    position:absolute;

    /*
    Added header offset - JL
    (was top:150vw)
    */
    top: calc(150vw + var(--header-offset));
    font-size:4vw;
    text-align: center;
    color:white;
    -webkit-text-stroke: 0.2vw rgb(81,178,162,100%);
    font-weight: 700;
}